include *.py
exclude t_overrides.py
exclude *.pyc
exclude .travis.yml
include *.rst
include COPYING.txt
include qa_check.sh
include .coveragerc
include tox.ini
include requirements.txt
include requirements.dev.txt
include multigtfs/tests/fixtures/*
graft examples
exclude examples/explore/db.sqlite3
exclude examples/explore/exploreproj/local_settings.py
