coverage==4.0.3
django-nose==1.4.4
flake8==2.5.4
ipdb==0.9.0
ipython==4.1.2
nose==1.3.7
wheel==0.29.0
twine==1.9.1

# tox
virtualenv==14.0.6
py==1.4.31
tox==2.3.1

# Sphinx
MarkupSafe==0.23
Jinja2==2.8
Pygments==2.1.2
Sphinx==1.3.6

# qa-all
check-manifest==0.35
pyroma==2.2

# Google tools - not Python3 compat
# transitfeed==1.2.15
