# Install multigtfs from PyPi
multigtfs
# Or from local source project
#-e ../..

# Configure the database from the environment
dj-database-url

# Configure other settings from the environment
python-decouple

# Connect to postgresql database
psycopg2

# Install gunicorn server 
gunicorn
