# Install multigtfs as an editable project
-e ../..
# Install multigtfs from PyPi
#multigtfs

# Configure the database from the environment
dj-database-url

# Configure other settings from the environment
python-decouple
